@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#App{
	width: 100vw;
	height: 100vh;
	position: relative;
}

#watchFaceContainer{
	box-sizing: border-box;
	aspect-ratio: 1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.main{
	width: 100%;
	margin: 0 auto;
}

.description div{
	margin: 16px 8px;
	color: #606068;
}

.mastolink{
	padding: 8px;
	text-decoration: none;
}

.title{
	font-size: 6em;
	font-family: 'Cormorant Unicase', serif;
	line-height: 75%;
	width: 300px;
	margin: 40px auto;
}

#list{
	margin: 64px 0;
	text-align: center;
	font-size: 1.2em;
}

#list li{
	list-style: none;
	padding: 20px;
}

a, a:visited {
	color:black;
}

a:hover, a:focus{
	color: darkorchid;
}