* {
	margin: 0;
	padding: 0;
}

#App{
	width: 100vw;
	height: 100vh;
	position: relative;
}

#watchFaceContainer{
	box-sizing: border-box;
	aspect-ratio: 1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#list{
	position: relative;
	transform: translateY(50%) translateX(50%);
}

#list li{
	list-style: none;
	padding: 20px;
}