#App{
	overflow: hidden;
}

#watchFaceContainer{
	transition: opacity 1s linear;
	opacity: 0;
	display: none;
	position: relative;
}

#online{
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#online svg path, #online svg rect{
	fill: #242628;
}
