#watchFaceContainer{
	transition: opacity 1s linear;
	opacity: 0;
	display: none;
	position: relative;
}

#spider{
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Ring2 {
	transform: translateX(75px) translateY(65px);
}

#Ring3 {
	transform: translateX(150px) translateY(130px);
}

#Ring4 {
	transform: translateX(225px) translateY(195px);
}

#Mask g{
	transform: translateX(66px) translateY(338.5px);
}

#Mask path{
	fill: #000;
}